.body {

    background-color: whitesmoke
}

#navbar {
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    background-color: black;
    color: whitesmoke;
    
}

#part {
    border-style: solid;
    
    
    height: 100vh;
    width: 97.3vw;
    background-image: url('https://lp-cms-production.imgix.net/features/2018/02/GettyImages-802758686-9587fec148c7.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    margin: 0; 
    padding: 0; 
    height: 100vh;
}


#subpart {
    border-style: solid;
    
    border-width: 1px;
    border-color: red;
    height: 90vh;
    width: 50vw;
    margin-left: 20vw;
    
    margin-top: 5vh;
    background-color: aliceblue;
}

